*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background: linear-gradient(to right,rgb(199,198,241)50%, rgb(135,122,214)100% );
}
.page {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card {
    position: relative;
    overflow: hidden;
    color: black;
    width: 400px;
    height: 900px;
    background: linear-gradient(
        to bottom right,
        rgb(120, 115, 182) 0%,
        rgb(122, 118, 183) 50%,
        rgb(195, 177, 247) 100%
    );
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 380px;
    height: 600px;
    color: rgb(71, 2, 136);
    border-radius: 20px;
    padding: 10px;
    /* margin-top: 20vh; */
}
.card::after {
    content: "";
    position: absolute;
    inset: 0;
    background: white;
    z-index: 1;
    top: 0px;
    right: -80px;
    left: -210px;
    width: 400px;
    height: 590px;
    border-radius: 0 15% 0% 0;
    transform: rotate(45deg);
}

.card::before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 200px;
    bottom: -100px;
    top: 0px;
    width: 170px;
    height: 500px;
    background:linear-gradient(to right, rgb(105, 102, 159) 50%, rgb(104,100,159)100%);
    border-radius: 0 20px 20px 0;
    transform: rotate(45deg);
}

.name{
    position: relative;
    z-index: 2;
    margin-left: 20px;
    margin-top: 40px;
}
.password{
    position: relative;
    z-index: 2;
    margin-left: 20px;
    margin-top: 20px;

}
.name img,
.password img{
    
     filter: invert(28%) sepia(40%) saturate(1500%) hue-rotate(230deg);
}

button{
    position: relative;
    z-index: 2;
    padding: 10px;
    gap: 80px;
    width: 240px;
    height: 50px;
    display: flex;
    align-items: center;
    margin-left: 50px;
    justify-content: space-around;
    color: rgb(71, 2, 136);
    font-weight: bold;
    margin-top: 40px;
    margin-left: 20px;
    border: rgb(71, 2, 136);
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}
button img{
     filter: invert(28%) sepia(40%) saturate(1500%) hue-rotate(230deg);

}
button:hover{
    transform: scale(1.01);
}

.options{
    position: relative;
    z-index: 2;
    left: 250px;
    right: 30px;
    bottom: 30px;
    top: 50px;
    color: white;
    font-size: 20px;
}
.logos img{
    filter: invert(1);
}
.logos img:hover{
    transform: scale(1.04);
}
.logos{
    margin: 0;
    display: flex;
    gap: 9px;
}
input{
    height: 20px;
    border: none;
    border-top: 1px solid rgba(75, 64, 160, 0.45);
}
input:focus{
    border-color: rgba(75, 64, 160, 0.45);
    outline: none;
}
input:hover{
    transform: scale(1.05);
}
.upper-card::before{
    content: "";
    position: absolute;
    z-index: 0;
    left: 100px;
    bottom: 0px;
    top: -250px;
    width: 300px;
    height: 300px;
    background:rgb(108, 100, 172);
    border-radius: 0 20px 50px 0;
    transform: rotate(45deg);
}
.lower-card::after{
    content: "";
    position: absolute;
    z-index: 0;
    left: 120px;
    bottom: -230px;
    width: 400px;
    height: 350px;
    background:rgb(159, 155, 210);
    border-radius: 50px 0px 0px 0;
    transform: rotate(45deg);
}